.root {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-user-drag: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-right: 1px solid darkgray;
}

.root.active {
    border-right: 1px solid black;
}

.root:active {
    background-color: lightgray;
}