.root {
    min-width: 1.5em;
    min-height: 1.5em;
    display: none;
    align-items: flex-end;
    justify-content: flex-end;
    transform: translate(10px, 3px) rotate(125deg);
    cursor: nwse-resize;
}

.root.enabled {
    display: flex;
}