.root {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    min-height: 100px;
    border: 1px solid darkgray;
    background-color: lightgray;
    position: absolute;
}

.root.active {
    border: 1px solid black;
}