.root {
    display: flex;
    flex-direction: column;
    min-width: 15em;
    min-height: 15em;
    background-color: lightgray;
    position: absolute;
    overflow: hidden;
    will-change: transform;
}

.root:not(.fullscreen) {
    border-radius: 0.5em;
    border: 1px solid darkgray;
}

.root:not(.fullscreen).active {
    border: 1px solid white;
}

.root.active:not(.fullscreen) {
    filter: drop-shadow(1px 2px 4px black);
}

.root.fullscreen {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.root.minimized {
    display: none;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
}