.root {
    display: flex;
    background-color: lightgray;
    border-top: 1px solid darkgray;
    min-height: 1.5em;
}

.root.fullscreen {
    display: none;
}

.content {
    display: flex;
    flex: 1;
}
