.root {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-user-drag: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    outline: 1px solid darkgray;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
}

.root.active {
    outline: 1px solid rgba(255, 255, 255, 0.12);
}

.root:not(.modal):not(.center):active {
    background-color: lightgray;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    color: black;
}

.root.modal,
.root.center {
    border-right: none;
    outline: none;
}

.root:not(.modal):not(.center) {
    cursor: pointer;
}
