.root {
    display: flex;
    align-items: stretch;
    background-color: lightgray;
    margin: 0.1em;
    border-bottom:2px solid transparent;
}

.root.active {
    border-bottom:2px solid black;
}
