.root {
    display: flex;
    align-items: stretch;
    border: 1px solid darkgray;
    background-color: lightgray;
    margin: 0.1em;
}

.root.active {
    background-color: white;
    outline: 1px solid black;
}