.root {
    display: flex;
    align-items: stretch;
    border: 1px solid darkgray;
    background-color: lightgray;
    margin: 0.1em;
}

.root.active {
    border: 1px solid black;
    background-color: white;
}